html {
    background: black;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("https://64.media.tumblr.com/13336002c2795b812a5f742e8820589f/tumblr_n2jrgvO5Ug1rbrys3o1_500.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #00ff88;
    font-family: "Courier New", monospace;
}
#logo-overlay {
  position: fixed;
  inset: 0;
  background: url("assets/dc70547297938040b3194ff984e21977-ezgif.com-video-to-gif-converter.gif") center / cover no-repeat black;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 1.2s ease-in-out;
}

/* when visible */
#logo-overlay.show {
  opacity: 1;
  pointer-events: all;
}



/* HEADER */
.header {
    text-align: center;
    padding: 20px;
}

/* CONTAINER */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
}

/* SECTIONS */
.section {
    display: none;
    width: 90%;
    max-width: 900px;
}

.section.active {
    display: block;
}

/* CHAT */
.chat-container {
    background: black;
    border: 2px solid #00ff88;
    box-shadow: 0 0 25px #00ff88;
    padding: 15px;
}

.chat-messages {
    height: 320px;
    overflow-y: auto;
    padding: 10px;
    background: black;
}

.chat-line {
    margin-bottom: 6px;
}

.system {
    color: #00ffaa;
}

/* INPUT */
.chat-input {
    display: flex;
    gap: 10px;
}

.chat-input input {
    flex: 1;
    background: black;
    border: 1px solid #00ff88;
    color: #00ff88;
    padding: 10px;
    font-family: monospace;
}

.chat-input button {
    background: black;
    border: 1px solid #00ff88;
    color: #00ff88;
    cursor: pointer;
    padding: 10px 20px;
}

/* VIDEO */
iframe {
    width: 100%;
    height: 420px;
    border: none;
}
/*tsawir*/
.instagram-grid img,
.instagram-grid iframe {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 0;
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.instagram-grid img {
  max-width: 90%;
  height: auto;
}

/* BUTTONS */
.buttons {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.buttons a {
    background: white;
    color: black;
    padding: 10px 18px;
    margin: 0 6px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.buttons a.active {
    background: #00ff88;
}
